{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">

    <!-- Event --> 
    <br>
    <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">
          <div class="card-body"> 
            <div class="media">  
              <img class="align-self-start mr-3" src="{{ event.image }}">  
              <div class="media-body">
                <br>
                <h5 class="mt-0">{{ event.title }}</h5>  
                <p>{{ event.description }}</p>  
                <a href="#" class="btn btn-danger">Book Now</a>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>
    <hr>
    
    <!-- Comments -->  
    <div class="row">  
      <div class="col-md-12">  
        <h2>Comments</h1>  
      </div>  
    </div>  
 
    <div class="row border-bottom"> 
      {{ render_form(form,"/events/{0}/comment".format(event.id)) }}
      
      {% for comment in event.comments %}
      <div class="col-md-12">  
        <b>{{ comment.user.title }} <span class="ml-2 text-muted">January 2024</span></b> <!--{{ comment.timestamp.strftime('%B %Y') }}-->
        <p>{{ comment.text }}</p>  
      </div> 
      {% endfor %} 
    </div>  
  </div>
  <br>

{% endblock %}