{% extends 'base.html' %}

{% block header %}   

{% endblock %}

{% block content %}

<main>
  <div class="container booking-history">
      <h1>User Booking History</h1>
      {% if not bookings %}
        <h1><strong>You have no bookings!</strong></h1>
      {% else %}
      <div class="booking-history">
          {% for booking in bookings %}
          <div class="event-entry">
              <img src="{{ booking.event.image }}" alt="Event Image" class="event-image">
              <div class="booking-info">
                  <h2>{{ booking.event.title }}</h2>
                  <p><strong>Booking/Order ID:</strong> {{ booking.id }}</p>
                  <p><strong>Booking Date:</strong> {{ booking.booking_date.strftime('%B %d, %Y, %I:%M %p') }}</p>
                  <a href="{{ url_for('event.show', id=booking.event.id) }}" class="btn btn-primary">View Event</a>
              </div>
          </div>
          {% endfor %}
      </div>
      {% endif %}
  </div>
</main>

{% endblock %}
