{% extends 'base.html' %}

{% block header %}   

{% endblock %}

{% block content %}

<!-- Header section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container mt-5">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to SoundScape</h1>
                    <p class="lead">Discover and book the hottest music events!</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
            <!-- Carousel section -->
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='img/drake.png') }}" class="d-block w-100" alt="Drake">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Drake</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='img/taylor.png') }}" class="d-block w-100" alt="Taylor Swift">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Taylor Swift</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='img/yeat.png') }}" class="d-block w-100" alt="Yeat">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Yeat</h2>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>
</div>

<section class="upcoming-events">
  <!-- Upcoming events section -->
  <div class="container mt-5">
      <h2>Upcoming Events</h2>
      <br>
      <div class="row">
          <div class="col-md-4">
            {% for event in events %}
              <!-- Event card 1 -->
              <div class="card">
                  <img src="{{ event.image }}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{ event.title }}</h5>
                      <p class="card-text"><i>{{ event.description }}</i></p>
                      <p class="card-text">Venue: <span>{{ event.venue }}</span></p>
                      <p class="card-text">Live on: <span>{{ event.date.strftime('%d-%m-%Y') }}</span></p>
                      <p class="card-text">Ticket Price: <span>${{ event.price }}</span></p>
                      {% if event.status == 'Open' %}
                            <p class="card-text">Status: <span style="color: green;">{{ event.status }}</span></p>
                        {% elif event.status == 'Closed' %}
                            <p class="card-text">Status: <span style="color: darkred;"></span>{{ event.status }}</span></p>
                        {% elif event.status == 'Upcoming' %}
                            <p class="card-text">Status: <span style="color: darkorange;">{{ event.status }}</span></p>
                        {% elif event.status == 'Sold-Out' %}
                            <p class="card-text">Status: <span style="color: darkred;">{{ event.status }}</span></p>
                        {% else %}
                            <p class="card-text" style="color: black;">Status: {{ event.status }}</p>
                        {% endif %}
                                         
                      <a href="specific_event.html" class="btn btn-dark">Learn More</a>
                  </div>
              </div>
              {% endfor %}
          </div>
</section>

<section>
  <div class="container mt-5 event-cat">
      <h2>Event Categories</h2>
      <br>
      <div class="row">
          <div class="col-sm-6">
              <!-- Event category card 1 -->
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">RAP & Hip-Hop</h5>
                      <p class="card-text">Discover Rap and Hip-Hop events in All of Australia, shows, artists, performers & teams that you'll love!</p>
                      <a href="#" class="btn btn-dark">View Upcoming Events</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <!-- Event category card 2 -->
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">R&B/Soul</h5>
                      <p class="card-text">From Anita Baker and Janet Jackson to Kem and New Edition, here is a list of R&B concerts and tours happening in 2023.</p>
                      <a href="#" class="btn btn-dark">View Upcoming Events</a>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-6">
              <!-- Event category card 3 -->
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Rock</h5>
                      <p class="card-text">Find Rock concerts happening this weekend near you. Buy tickets for every upcoming concert, festival, gig and tour date taking place in Brisbane.</p>
                      <a href="#" class="btn btn-dark">View Upcoming Events</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <!-- Event category card 4 -->
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Country</h5>
                      <p class="card-text">From Australia's biggest country music festivals to outback races and rodeos ... street party plus rock concerts, markets, and their very own street parade.</p>
                      <a href="#" class="btn btn-dark">View Upcoming Events</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}
